h1 {
    padding-left: 5px;
    padding-bottom: 10px;
}

table {
    /* padding: 10px; */
    border: 2px solid rgb(34, 80, 139);
    width: 800px;
    height: 100px;
    margin-left: 10px;
    display: table;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}